<script id="esbelto">
  let include = getInclude();
  let { paciente, statusMessage } = getVariables();
</script>

<head>
  {include('../partials/head.html', {title: "GERVAC | Paciente"})}
</head>

<div class="app-wrapper">
  {include('../partials/navbar.html')}
  <div class="container paciente-container mt-2">
    <h1 class="text-center">Situação Cadastral</h1>
    <div class="paciente-info">
      <h3>{paciente.nome.toUpperCase()}</h3>
      <p>{paciente.email}</p>
      <p>{paciente.telefone}</p>
    </div>
    <div class="paciente-status">
      <p>{statusMessage}</p>
    </div>
    <div class="paciente-btns">
      <form method="POST" action ="/auth/logout">
        <button class="btn btn-primary" type="submit">Sair</button>
      </form>
      <a class="btn btn-primary" href="/paciente/edit">Editar Cadastro</a>
    </div>
  </div>
</div>
