<script id="esbelto">
  let include = getInclude();
  let {pacientes, vacinas, locais} = getVariables();
  const pacientesObj = {};
  pacientes.forEach(paciente => {
    pacientesObj[paciente.id] = paciente;
  });
  const vacinasObj = {};
  vacinas.forEach(vacina => {
    vacinasObj[vacina.id] = vacina;
  });
  const locaisObj = {};
  locais.forEach(local => {
    locaisObj[local.id] = local;
  });
</script>

<head>
  {include('../../partials/head.html', {title: "GERVAC | Administração", scripts: ['/js/admin/dashboard.js']})}
</head>

<body>
  <div class="app-wrapper">
    {include('../navbar.html', {active: "dashboard"})}
    <div class="container app-container text-center mt-2">
      <form id="alterar-form">
        <h3>População Cadastrada</h3>
        <div class="d-flex">
          <button name="action" class="btn btn-outline-success me-2" type="submit" value="vacinar">Vacinar</button>
            <button name="action" class="btn btn-outline-primary" type="submit" value="agendar">Agendar</button>
        </div>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nome</th>
              <th scope="col">Idade</th>
              <th scope="col">Comorbidade</th>
              <th scope="col">Vacinado</th>
              <th scope="col">Agendado</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {#each pacientes as paciente}
              <tr>
                <td><input name="select-pacientes[]" class="form-check-input paciente-check" type="checkbox" value="{paciente.id}"></td>
                <td>{paciente.nome}</td>
                <td>{paciente.calcIdade()}</td>
                <td>{paciente.comorbidade ? "Sim" : "Não"}</td>
                <td>{paciente.statusVacinadoStr()}</td>
                <td>{paciente.agendadoPara ? paciente.agendadoPara.getDataString() : "Não"}</td>
                <td><button type="button" class="btn btn-primary mais-info-btn py-1" value="{paciente.id}">Mais info</button></td>
              </tr>
            {/each}
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <!-- Modal "Mais Info"-->
  <div class="modal fade" id="modal-mais-info" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mais informações</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="mais-info-nome-input" class="form-label">Nome</label>
            <input class="form-control" id="mais-info-nome-input" readonly>
          </div>
          <div class="mb-3">
            <label for="mais-info-cpf-input" class="form-label">CPF</label>
            <input class="form-control" id="mais-info-cpf-input" readonly>
          </div>
          <div class="mb-3">
            <label for="mais-info-email-input" class="form-label">E-mail</label>
            <input class="form-control" id="mais-info-email-input" readonly>
          </div>
          <div class="mb-3">
            <label for="mais-info-telefone-input" class="form-label">Telefone</label>
            <input class="form-control" id="mais-info-telefone-input" readonly>
          </div>
          <div class="mb-3">
            <label for="mais-info-nascimento-input" class="form-label">Nascimento</label>
            <input type="date" class="form-control" id="mais-info-nascimento-input" readonly>
          </div>
          <div class="mb-3">
            <label for="mais-info-endereco-input" class="form-label">Endereço</label>
            <input class="form-control" id="mais-info-endereco-input" readonly>
          </div>
          <div class="mb-3">
            <label for="mais-info-comorbidade-input" class="form-label">Comorbidade</label>
            <input class="form-control" id="mais-info-comorbidade-input" readonly>
          </div>
          <div class="mb-3">
            <label for="mais-info-profissao-input" class="form-label">Profissão</label>
            <input class="form-control" id="mais-info-profissao-input" readonly>
          </div>
          <a id="mais-info-alterar-senha" class="btn btn-primary">Alterar senha</a>
        </div>
      </div>
    </div>
  </div>
  <!--/ Modal "Mais Info"-->

  <!-- Modal "Vacinar"-->
  <div class="modal fade" id="modal-vacinar" tabindex="-1">
    <div class="modal-dialog">
      <form method="POST" action="/admin/vacinar">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Vacinar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="w-100 text-center">
              <strong class="contagem-pacientes">X pacientes selecionados</strong>
            </div>
            <div class="mb-3">
              <label for="vacina-select" class="form-label">Vacina</label>
              <select id="vacina-select" class="form-select" name="vacina" required>
                <option value selected>Selecione a vacina</option>
              </select>
            </div>
            <div class="d-none hidden-inputs"></div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Vacinar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/ Modal "Vacinar"-->

    <!-- Modal "Agendar"-->
    <div class="modal fade" id="modal-agendar" tabindex="-1">
      <div class="modal-dialog">
        <form method="POST" action="/admin/agendar">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Agendar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div class="w-100 text-center">
                <strong class="contagem-pacientes">X pacientes selecionados</strong>
              </div>
              <div class="mb-3">
                <label for="local-select" class="form-label">Local</label>
                <select id="local-select" class="form-select" name="local" required>
                  <option value selected>Selecione o local</option>
                  {#each locais as local}
                    <option value="{local.id}">{local.nome}</option>
                  {/each}
                </select>
              </div>
              <div class="mb-3">
                <label for="date-input" class="form-label">Data</label>
                <input type="date" id="date-input" name="data" class="form-control">
              </div>
              <div class="d-none hidden-inputs"></div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Agendar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal "Agendar"-->

<script>
  let pacientes = JSON.parse('{@html JSON.stringify(pacientesObj)}');
  let vacinas = JSON.parse('{@html JSON.stringify(vacinasObj)}'); 
  let locais = JSON.parse('{@html JSON.stringify(locaisObj)}'); 
</script>
</body>