<script id="esbelto">
  let { active } = getVariables();
</script>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><strong>GERVAC</strong> - Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {active == 'dashboard' ? 'active' : ''}" aria-current="page" href="/admin">Dashboard</a>
        <a class="nav-link {active == 'locais' ? 'active' : ''}" href="/admin/locais">Locais de Vacinação</a>
        <a class="nav-link {active == 'vacinas' ? 'active' : ''}" href="/admin/vacinas">Vacinas</a>
      </div>
      <div class="navbar-nav">
        <form method="POST" action ="/auth/logout">
          <button class="btn btn-link nav-link" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </div>
</nav>